<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Linea</th>
      <th scope="col">Modelo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars; let i = index">
      <th class="th{{i+1}}" scope="row">{{i+1}}</th>
      <td class="td{{i+1}}">{{car.marca}}</td>
      <td class="td{{i+1}}">{{car.linea}}</td>
      <td class="td{{i+1}}">{{car.modelo}}</td>
    </tr>
  </tbody>
  </table>
  <div>
    <div class="total" *ngFor="let marca of total_marcas | keyvalue">Total {{marca.key}}: {{marca.value}}</div>
  </div>
