<div class="container">

  <div class="segundazo">
    <b>TuSegundazo.com</b></div>
  <hr class="first">
  <div class="row">
    <div class="col-12">
      <img src="../assets/banner3.png" class="img-fluid banner"alt="Banner" >
    </div>

  </div>
  <hr class="second">
  <div class="row">
    <div class="col-7">
      <app-car-list></app-car-list>
    </div>
    <div class="col-5">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <footer class="text-center text-lg-start">
        <div class="text-center mx-auto">
          Contact us: +57 3102105253 - info@segundazo.com - @tusegundazo
        </div>
      </footer>
    </div>
  </div>
</div>
